<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Voxel Renderer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoxelRenderer">
        <activity
            android:name=".ModelChooserActivity"
            android:exported="true"
            android:label="ModelChooser"
            android:theme="@style/Theme.VoxelRenderer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModelViewerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:label="Model Viewer"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/*" />
                <data android:pathPattern=".*\\.vly" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.vox" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
        </activity>
    </application>

</manifest>